***EDA on Apple App Store Data:***

In [2]:
#import libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ydata_profiling as yp

c:\ProgramData\miniconda3\envs\ml_eda\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
# Load the dataset:
df = pd.read_csv('python _first/Data_set/apple_5yr_one.csv')

In [4]:
profile = yp.ProfileReport(df)
profile.to_file(output_file='./python _first/Data_set/apple_5yr_one.html')

100%|██████████| 6/6 [00:00<00:00, 34.54it/s]00<00:00, 17.94it/s, Describe variable: Volume]
Summarize dataset: 100%|██████████| 15/15 [00:01<00:00, 13.91it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.10s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  2.32it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 42.38it/s]

In [ ]:
df.head(5)

,Date,Close,High,Low,Open,Volume
0,NaN,AAPL,AAPL,AAPL,AAPL,AAPL
1,2020-06-04,78.32931518554688,79.1312690763083,77.95506657558614,78.83236263047952,87560400
2,2020-06-05,80.56021881103516,80.62097312386399,78.55046881252456,78.57962969607472,137250400
3,2020-06-08,81.03653717041016,81.07056314819836,79.54441498185327,80.25645380649277,95654400
4,2020-06-09,83.59550476074219,83.98919153470604,80.68416273702039,80.71575616737768,147712400

In [ ]:
df.columns

Index(['Date', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1256 entries, 0 to 1255
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1255 non-null   object
 1   Close   1256 non-null   object
 2   High    1256 non-null   object
 3   Low     1256 non-null   object
 4   Open    1256 non-null   object
 5   Volume  1256 non-null   object
dtypes: object(6)
memory usage: 59.0+ KB

In [ ]:
df.describe()

,Date,Close,High,Low,Open,Volume
count,1255,1256,1256,1256,1256,1256
unique,1255,1241,1256,1256,1256,1254
top,2025-06-02,142.5260467529297,202.1300048828125,200.1199951171875,200.27999877929688,97918500
freq,1,2,1,1,1,2

In [ ]:
df.shape

(1256, 6)

In [ ]:
df['Volume'].value_counts()

Volume
97918500     2
90956700     2
147712400    1
166651600    1
59732400     1
            ..
101010600    1
69018500     1
51216500     1
68536700     1
95654400     1
Name: count, Length: 1254, dtype: int64

In [ ]:
df.isnull().sum()

Date      1
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [ ]:
df['Date'].isnull().sum()

np.int64(1)

In [ ]:
df.head().T

,0,1,2,3,4
Date,NaN,2020-06-04,2020-06-05,2020-06-08,2020-06-09
Close,AAPL,78.32931518554688,80.56021881103516,81.03653717041016,83.59550476074219
High,AAPL,79.1312690763083,80.62097312386399,81.07056314819836,83.98919153470604
Low,AAPL,77.95506657558614,78.55046881252456,79.54441498185327,80.68416273702039
Open,AAPL,78.83236263047952,78.57962969607472,80.25645380649277,80.71575616737768
Volume,AAPL,87560400,137250400,95654400,147712400